@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}



.formulario{
    margin: 3% 10%; 
    border: 1px solid #818181;
    box-shadow: 3px 3px 7px #0000007a;
    border-radius: 5%;
}

legend{
    margin: 10px;
    margin-bottom: 15px;
    font-weight: bold;
}

.label{
    margin: 20px 10px;
}

.input{
    margin: 0 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid #929292;
}

.button{
    display: inline-block;
    margin: 10px;
    width: 100px;
    padding: 5px 2px;
    border: none;
    border-radius: 5px;
    background-color: #2e7d32;
    font-size: 0.9rem;
    color: white;
}