/* header {
    border: solid 5px rgb(0, 0, 0);
  }

  main {
    border: solid 5px rgb(0, 0, 0);
  }

  footer {
    border: solid 5px rgb(0, 0, 0);
  } */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: "Poppins", sans-serif;
}

.cabecalho{
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 0.7rem;
  background-color: #2e7d32;
  color: white;
  padding: 5px;
  text-decoration: none;
}


.logo img {
  height: 60px;
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.menu-btn i {
  margin: 2rem 1rem;
  width: 24px;
  height: 2px;
  background-color: #ffffff;
}

nav.menu {
  position: absolute;
  top: 100%;
  right: 16px;
  background: rgb(0, 0, 0);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 100;
}

nav.menu.open {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

nav.menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

nav.menu a:hover {
  color: #006400;
}

@media(min-width: 768px) {
  .menu-btn {
    display: none;
  }

  nav.menu {
    position: static;
    opacity: 1 !important;
    transform: scale(1) !important;
    pointer-events: auto !important;
    flex-direction: row;
    border: none;
    box-shadow: none;
  }
}

#publicacoes{
  overflow: hidden;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
  z-index: 999;
}

.bottom-nav button {
  background: none;
  border: none;
  font-size: 12px;
  color: #2e7d32;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-nav i {
  font-size: 20px;
  margin-bottom: 4px;
}

a{
  color: #2e7d32;
  text-decoration: none;
}

.botao-participar {
  border: 1px solid #006400;
  border-radius: 5px;
  padding: 0.7rem;
  font-weight: 700;
  font-size: 1rem;
  color: #006400;
  background-color: #f5f5f5;
}

.botao-rede-social{
  padding: 0.7rem 0.5rem;
  font-size: 1.1rem;
  color: #006400;
}

.math {
  border: 1px solid #006400;
  border-radius: 5px;
  font-weight: bold;
  padding: 0.7rem;
  background-color: #2e7d32;
  color: #ffffff;
}

.carrinho{
  border: 1px solid #006400;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.1rem;
  color: #006400;
  background-color: #f5f5f5;
  padding: 1rem;
}